#root{
  color-scheme: dark light;
}

body{
  background-color: black;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: aliceblue;
  height: 98vh;
  
  display: flex;
  justify-content: center;
}

main{
  height: 98vh;
  width: 100vh;
  display: flex;
  justify-content: center;
}
.chat{
  border: 1px solid #ccc;
  border-radius: 3px;
  overflow: hidden;
  width: 340px;
  height: 100%;
  position: relative;
}

.chatform{
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  height: 36px;
  padding: 5px 0px 5px 0px;
  position:absolute;
  gap: 1rem;
  right: 0;
}
ul{
  list-style: none;
  padding: 0 0 0 0;
}
li{
  padding: 3px 3px 3px 3px;
}
.lime{
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 8px 15px 8px 15px;
  background-color: rgb(25, 24, 24);
}